$gray1: #4e4e4e;
$gray2: #969696;
$gray3: #b7b7b7;
$gray4: #e6e6e6;
$gray5: #f3f3f3;

$colorPrimary: #0EBC93;
$colorSecondary: #07475E;
$colorTerciary: #92E1D7;

@import 'functions.scss';
@import 'reset/reset.scss';
@import 'ms/ms.scss';
@import 'custom/custom.scss';